In [21]:
# Create an alias with the as keyword while importing
# Now you can refer to the Pandas package as pd instead of pandas
import pandas as pd

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
# Load the CSV into a dataframe called sales
sales = pd.read_csv('/content/drive/MyDrive/CIS 606/sales_data.csv')

**Practice 1 (Revision - Handle Duplicates): Remove duplicated rows in the sales dataframe**

In [24]:
sales = sales.drop_duplicates()
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023

**Practice 2 (Revision: Correct Wrong Values): Change the price of Product P001 to 20.99 and recalculate transaction amount (Quantity * Price)**

In [25]:
sales.loc[sales['Product_ID'] == 'P001', 'Price'] = 20.99

# Recalculate the transaction amount (Quantity * Price)
# sales['Transaction_ID'] = sales['Quantity'] * sales['Price']
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity  Price       Date
0               1        C101       P001         2  20.99   1/5/2023
1               2        C102       P002         1  29.99   20230106
2               3        C103       P001         1  20.99   1/7/2023
3               4        C101       P003         3   9.99   1/8/2023
4               5        C102       P002         2  29.99   1/9/2023
5               6        C105       P001         1  20.99  1/10/2023
6               7        C102       P004         1    NaN  1/11/2023
7               8        C106       P001         2  20.99  1/12/2023
8               9        C103       P005         1   9.99  1/13/2023

**Practice 3 (Revision: Correct Wrong Values): Change the null value of Price to the weighted price of all other products in the sales table (i.e., total transaction amount of all the products divided by total quantity of all the products) and recalculate transaction amount**

In [26]:
total_transaction_amount = (sales['Quantity'] * sales['Price']).sum()

# Calculate the total quantity of all products
total_quantity = sales['Quantity'].sum()

# Calculate the weighted price
weighted_price = total_transaction_amount / total_quantity

# Fill null values in the 'Price' column with the weighted price
sales['Price'].fillna(weighted_price, inplace=True)

# Recalculate the transaction amount
sales['TransactionAmount'] = sales['Quantity'] * sales['Price']
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity      Price       Date  \
0               1        C101       P001         2  20.990000   1/5/2023
1               2        C102       P002         1  29.990000   20230106
2               3        C103       P001         1  20.990000   1/7/2023
3               4        C101       P003         3   9.990000   1/8/2023
4               5        C102       P002         2  29.990000   1/9/2023
5               6        C105       P001         1  20.990000  1/10/2023
6               7        C102       P004         1  18.276429  1/11/2023
7               8        C106       P001         2  20.990000  1/12/2023
8               9        C103       P005         1   9.990000  1/13/2023

   TransactionAmount
0          41.980000
1          29.990000
2          20.990000
3          29.970000
4          59.980000
5          20.990000
6          18.276429
7          41.980000
8           9.990000

<ipython-input-26-cad0feb99d07>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['Price'].fillna(weighted_price, inplace=True)
<ipython-input-26-cad0feb99d07>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['TransactionAmount'] = sales['Quantity'] * sales['Price']

**Practice 4: Write code to answer the following question: for each product, what is its average price weighted by transaction quantity?**

In [27]:
weighted_avg_price= sales.groupby('Product_ID')[['TransactionAmount', 'Quantity']].sum()
print(weighted_avg_price)
print(type(weighted_avg_price))
weighted_avg_price['WeightedPrice']= weighted_avg_price['TransactionAmount']/weighted_avg_price['Quantity']

            TransactionAmount  Quantity
Product_ID
P001               125.940000         6
P002                89.970000         3
P003                29.970000         3
P004                18.276429         1
P005                 9.990000         1
<class 'pandas.core.frame.DataFrame'>

In [28]:
sales['Customer_ID'].value_counts()

C102    3
C101    2
C103    2
C105    1
C106    1
Name: Customer_ID, dtype: int64

**Practice 5: Write code to count the number of transactions for each pair of customer and product**

In [29]:
sales.groupby(['Customer_ID', 'Product_ID'])['Transaction_ID'].value_counts()

Customer_ID  Product_ID  Transaction_ID
C101         P001        1                 1
             P003        4                 1
C102         P002        2                 1
                         5                 1
             P004        7                 1
C103         P001        3                 1
             P005        9                 1
C105         P001        6                 1
C106         P001        8                 1
Name: Transaction_ID, dtype: int64

**Practice 6: Use nlargest(), nsmallest(), idxmax(), and idxmin() to write code to get the product with the highest and lowest average price weighted by transaction quantity**

**Hint 1: Use your answer from Practice 6**

**Hint 2: Read resources here: https://tutorialsinhand.com/Articles/pandas-dataframe---nsmallest-and-nlargest.aspx and https://proclusacademy.com/blog/quicktip/pandas-idxmin-idxmax/**

**The second resource also talks about having repeated max and min values**

In [30]:
weighted_avg_price['Quantity'].nlargest()
weighted_avg_price['Quantity'].idxmax()
weighted_avg_price['Quantity'].idxmin()

'P004'

In [31]:
# Load the CSV into a dataframe
customers = pd.read_csv('/content/drive/MyDrive/CIS 606/customers_data.csv')

**Practice 7: Get the rows in the sales table where the customer's city is Chicago**

In [32]:
sales[sales['Customer_ID'].isin(customers.loc[customers['City'] == 'Chicago','Customer_ID'])]

,Transaction_ID,Customer_ID,Product_ID,Quantity,Price,Date,TransactionAmount
2,3,C103,P001,1,20.99,1/7/2023,20.99
8,9,C103,P005,1,9.99,1/13/2023,9.99