In [15]:
# Create an alias with the as keyword while importing
# Now you can refer to the Pandas package as pd instead of pandas
import pandas as pd

In [16]:
# Load the CSV into a DataFrame
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(df) # If the DataFrame has many rows, Pandas will only return the first 5 rows and the last 5 rows

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023
9               9        C103       P005         1     9.99  1/13/2023

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Practice 1: Change the price of Product P001 to 12 if the quantity of a transaction is greater than 1**

**Hint: View how to filter with multiple conditions at https://www.geeksforgeeks.org/filter-pandas-dataframe-with-multiple-conditions/**

In [18]:
df.loc[(df['Product_ID'] == "P001") & (df['Quantity']> 1), 'Price']= 12
print(df)

   Transaction_ID Customer_ID Product_ID  Quantity  Price       Date
0               1        C101       P001         2  12.00   1/5/2023
1               2        C102       P002         1  29.99   20230106
2               3        C103       P001         1  20.99   1/7/2023
3               4        C101       P003         3   9.99   1/8/2023
4               5        C102       P002         2  29.99   1/9/2023
5               6        C105       P001         1  20.99  1/10/2023
6               7        C102       P004         1    NaN  1/11/2023
7               8        C106       P001         2  12.00  1/12/2023
8               9        C103       P005         1   9.99  1/13/2023
9               9        C103       P005         1   9.99  1/13/2023

**Practice 2: Write code to get all the unique pairs of Customer_ID and Product_ID from the "df" dataframe**

In [19]:
# Run this cell before Practice 3
# Load the CSV into a dataframe called sales
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023
9               9        C103       P005         1     9.99  1/13/2023

In [20]:
df = pd.DataFrame(sales)

# Get unique pairs of Customer_ID and Product_ID
unique_pairs = df[['Customer_ID', 'Product_ID']].drop_duplicates()

# Print the result
print(unique_pairs)

  Customer_ID Product_ID
0        C101       P001
1        C102       P002
2        C103       P001
3        C101       P003
5        C105       P001
6        C102       P004
7        C106       P001
8        C103       P005

**Practice 3 (Revision - Handle Duplicates): Remove duplicated rows in the sales dataframe**

In [21]:
sales = sales.drop_duplicates()
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023

**Practice 4 (Revision: Correct Wrong Values): Change the price of Product P001 to 20.99 and recalculate transaction amount (Quantity * Price)**

In [22]:
sales = pd.DataFrame(sales)
sales.loc[sales['Product_ID'] == 'P001', 'Price'] = 20.99
sales['Transaction_Amount'] = sales['Quantity'] * sales['Price']
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity  Price       Date  \
0               1        C101       P001         2  20.99   1/5/2023
1               2        C102       P002         1  29.99   20230106
2               3        C103       P001         1  20.99   1/7/2023
3               4        C101       P003         3   9.99   1/8/2023
4               5        C102       P002         2  29.99   1/9/2023
5               6        C105       P001         1  20.99  1/10/2023
6               7        C102       P004         1    NaN  1/11/2023
7               8        C106       P001         2  20.99  1/12/2023
8               9        C103       P005         1   9.99  1/13/2023

   Transaction_Amount
0               41.98
1               29.99
2               20.99
3               29.97
4               59.98
5               20.99
6                 NaN
7               41.98
8                9.99

**Practice 5 (Revision: Correct Wrong Values): Change the null value of Price to the weighted price of all other products in the sales table (i.e., total transaction amount of all the products divided by total quantity of all the products) and recalculate transaction amount**

In [23]:
sales = pd.DataFrame(sales)

total_transaction_amount = (sales['Quantity'] * sales['Price']).sum()

total_quantity = sales['Quantity'].sum()

weighted_price = total_transaction_amount / total_quantity

sales['Price'].fillna(weighted_price, inplace=True)

sales['Transaction_Amount'] = sales['Quantity'] * sales['Price']

print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity      Price       Date  \
0               1        C101       P001         2  20.990000   1/5/2023
1               2        C102       P002         1  29.990000   20230106
2               3        C103       P001         1  20.990000   1/7/2023
3               4        C101       P003         3   9.990000   1/8/2023
4               5        C102       P002         2  29.990000   1/9/2023
5               6        C105       P001         1  20.990000  1/10/2023
6               7        C102       P004         1  18.276429  1/11/2023
7               8        C106       P001         2  20.990000  1/12/2023
8               9        C103       P005         1   9.990000  1/13/2023

   Transaction_Amount
0           41.980000
1           29.990000
2           20.990000
3           29.970000
4           59.980000
5           20.990000
6           18.276429
7           41.980000
8            9.990000

**Practice 6: Write code to answer the following question: for each product, what is its average price weighted by transaction quantity?**

In [24]:
sales = pd.DataFrame(sales)

sales['Transaction_Amount'] = sales['Quantity'] * sales['Price']

sales['Weighted_Price'] = sales['Quantity'] * sales['Price']

product_summary = sales.groupby('Product_ID').agg({'Weighted_Price': 'sum', 'Quantity': 'sum'})

product_summary['Average_Price_Weighted'] = product_summary['Weighted_Price'] / product_summary['Quantity']

product_summary.reset_index(inplace=True)

print(product_summary[['Product_ID', 'Average_Price_Weighted']])

  Product_ID  Average_Price_Weighted
0       P001               20.990000
1       P002               29.990000
2       P003                9.990000
3       P004               18.276429
4       P005                9.990000

**Practice 7: Write code to count the number of transactions for each pair of customer and product**

In [25]:
sales = pd.DataFrame(sales)

transaction_counts = sales.groupby(['Customer_ID', 'Product_ID']).size().reset_index(name='Transaction_Count')

print(transaction_counts)

  Customer_ID Product_ID  Transaction_Count
0        C101       P001                  1
1        C101       P003                  1
2        C102       P002                  2
3        C102       P004                  1
4        C103       P001                  1
5        C103       P005                  1
6        C105       P001                  1
7        C106       P001                  1

**Practice 8: Use nlargest(), nsmallest(), idxmax(), and idxmin() to write code to get the product with the highest and lowest average price weighted by transaction quantity**

**Hint 1: Use your answer from Practice 6**

**Hint 2: Read resources here: https://tutorialsinhand.com/Articles/pandas-dataframe---nsmallest-and-nlargest.aspx and https://proclusacademy.com/blog/quicktip/pandas-idxmin-idxmax/**

**The second resource also talks about having repeated max and min values**

In [26]:
sales = pd.DataFrame(sales)

sales['Transaction_Amount'] = sales['Quantity'] * sales['Price']

sales['Weighted_Price'] = sales['Quantity'] * sales['Price']

product_summary = sales.groupby('Product_ID').agg({'Weighted_Price': 'sum', 'Quantity': 'sum'})

product_summary['Average_Price_Weighted'] = product_summary['Weighted_Price'] / product_summary['Quantity']

highest_average_price_product = product_summary['Average_Price_Weighted'].idxmax()
lowest_average_price_product = product_summary['Average_Price_Weighted'].idxmin()

print("Product with the highest average price weighted by transaction quantity:", highest_average_price_product)
print("Product with the lowest average price weighted by transaction quantity:", lowest_average_price_product)

Product with the highest average price weighted by transaction quantity: P002
Product with the lowest average price weighted by transaction quantity: P003